<ngt-color attach="background" color="darkgray"></ngt-color>

<ngt-point-light></ngt-point-light>

<ngt-group [position]="[2, 0, 0]" [rotation]="[0, -90 | radian, 0]">
  <ngt-group [rotation]="[90 | radian, 0, 0]" [position]="[0, 0, -0.001]">
    <ngt-grid-helper [args]="[1, 20]"></ngt-grid-helper>
  </ngt-group>

  <!--<ngt-mesh>
    <ngt-box-geometry [args]="[2, 2]"></ngt-box-geometry>
  </ngt-mesh>-->
  <!--<ngt-mesh [scale]="[1, 1, 1]">
    <ngt-plane-geometry [args]="[1, 1]"></ngt-plane-geometry>
    <ngt-mesh-basic-material transparent="true" [map]="texture" opacity="0.1"></ngt-mesh-basic-material>
  </ngt-mesh>-->

  <ngt-mesh [geometry]="shape.geometry">
    <ngt-mesh-basic-material color="gray"></ngt-mesh-basic-material>
  </ngt-mesh>

  <ngt-mesh [geometry]="border">
    <ngt-mesh-basic-material color="black"></ngt-mesh-basic-material>
  </ngt-mesh>


  <!--<ngt-mesh *ngFor="let item of shape.dots" [position]="item.position">
    <ngt-sphere-geometry [args]="[item.color == 'black' ? 0.02 : 0.01]"></ngt-sphere-geometry>
    <ngt-mesh-basic-material [color]="item.color"></ngt-mesh-basic-material>
  </ngt-mesh>-->
</ngt-group>

<ngt-mesh-basic-material #bordermaterial color="red"></ngt-mesh-basic-material>

<sign-up *ngIf="showsignin" [position]="[0, 1, -1]" [rotation]="[0, 0 | radian , 0]" [scale]="[0.8, 1, 1]"
         [textcolor]="'black'" [selectable]="selectable" [bordermaterial]="bordermaterial.instance.value"
         (close)="showsignin=false" (signup)="signup($event)"></sign-up>

<vr-controller guipointer showcontroller trackedpointer navhome [guis]="selectable.list"></vr-controller>
<vr-controller [index]="1" guipointer showcontroller trackedpointer navhome [guis]="selectable.list"></vr-controller>

<ngt-soba-orbit-controls></ngt-soba-orbit-controls>


<flat-ui-list *ngIf="input.showlist" [list]="input.list" [selectedtext]="input.method.text"
              [position]="input.position" [rotation]="input.rotation" [scale]="scale" [selectable]="selectable"
              (change)="input.method.text = $event.text;input.showlist=false" (close)="input.showlist=false;input.closeinput()">
</flat-ui-list>

<flat-ui-color-picker *ngIf="input.showpicker" [colorvalue]="input.method.text"
                      [position]="input.position" [rotation]="input.rotation" [scale]="scale" [selectable]="selectable"
                      (colorpicked)="input.method.text = $event" (close)="input.showpicker=false;input.closeinput()">
</flat-ui-color-picker>

<flat-ui-keyboard *ngIf="input.showkeyboard" [text]="input.method.text"
                  [position]="input.position" [rotation]="input.rotation" [scale]="scale" [selectable]="selectable"
                  (change)="input.method.text = $event" (close)="input.showkeyboard=false;input.closeinput()">
</flat-ui-keyboard>

<flat-ui-numpad *ngIf="input.shownumpad" [text]="input.method.text"
                [position]="input.position" [rotation]="input.rotation" [scale]="scale" [selectable]="selectable"
                (change)="input.method.text = $event" (close)="input.shownumpad=false;input.closeinput()">
</flat-ui-numpad>
