<ngt-group [position]="position" [rotation]="rotation" [scale]="scale">
  <ngt-mesh [geometry]="panelgeometry" [material]="backgroundmaterial">

    <ngt-soba-text [text]="'SIGN UP'" [color]="textcolor" [position]="[0, innerscale.y/2-0.1, 0.001]" [scale]="[0.9, 0.9, 0.9]"></ngt-soba-text>

    <ngt-group [position]="[0, innerscale.y/2-0.2, 0.001]">

      <ngt-mesh [material]="bordermaterial" [position]="[-innerscale.x/2+0.25, 0, 0]">
        <ngt-plane-geometry [args]="[innerscale.x/2-0.1, 0.005]"></ngt-plane-geometry>
      </ngt-mesh>

      <ngt-mesh [material]="bordermaterial" [position]="[innerscale.x/2-0.25, 0, 0]">
        <ngt-plane-geometry [args]="[innerscale.x/2-0.1, 0.005]"></ngt-plane-geometry>
      </ngt-mesh>

      <ngt-mesh [material]="bordermaterial" [rotation]="[0, 0, 30 | radian]">
        <ngt-circle-geometry [args]="[0.02, 3]"></ngt-circle-geometry>
      </ngt-mesh>

    </ngt-group>

    <ngt-group vertical-layout [margin]="[0, 0.08, 0]" [position]="[0, innerscale.y/4, 0.001]">
      <ngt-group>
        <ngt-mesh name="email" [material]="bordermaterial" [geometry]="rectangle" [position]="[0, 0, 0.001]">
          <ngt-group horizontal-layout [margin]="[0.01, 0, 0]" [position]="[-innerscale.x/2+0.08, 0, 0]">
            <flat-ui-icon-button [url]="'assets/sign-in/email.svg'" [iconmaterial]="bordermaterial" [enabled]="false" [buttoncolor]="backgroundcolor"></flat-ui-icon-button>
            <flat-ui-input-text #inputemail [text]="email" [placeholder]="emailplaceholder" [overflow]="17" [width]="innerscale.x-0.3" [buttoncolor]="backgroundcolor" [selectable]="selectable"
                                (change)="email=$event" (openinput)="input.openkeyboard($event, inputemail, email)">

            </flat-ui-input-text>
          </ngt-group>
        </ngt-mesh>
      </ngt-group>

      <ngt-group>
        <ngt-mesh name="name" [material]="bordermaterial" [geometry]="rectangle" [position]="[0, 0, 0.001]">
          <ngt-group horizontal-layout [margin]="[0.01, 0, 0]" [position]="[-innerscale.x/2+0.08, 0, 0]">
            <flat-ui-icon-button [url]="'assets/sign-in/person.svg'" [iconmaterial]="bordermaterial" [enabled]="false" [buttoncolor]="backgroundcolor"></flat-ui-icon-button>
            <flat-ui-input-text #inputnickname [text]="nickname" [placeholder]="nicknameplaceholder" [overflow]="17" [width]="innerscale.x-0.3" [buttoncolor]="backgroundcolor" [selectable]="selectable"
                                (change)="nickname=$event" (openinput)="input.openkeyboard($event, inputnickname, nickname)">
            </flat-ui-input-text>
          </ngt-group>
        </ngt-mesh>
      </ngt-group>

      <ngt-group>
        <ngt-mesh name="password" [material]="bordermaterial" [geometry]="rectangle" [position]="[0, 0, 0.001]">
          <ngt-group horizontal-layout [margin]="[0.01, 0, 0]" [position]="[-innerscale.x/2+0.08, 0, 0]">
            <flat-ui-icon-button [url]="'assets/sign-in/password.svg'" [iconmaterial]="bordermaterial" [enabled]="false" [buttoncolor]="backgroundcolor"></flat-ui-icon-button>
            <flat-ui-input-text #inputpassword [text]="password" [placeholder]="passwordplaceholder" [password]="true" [overflow]="17" [width]="innerscale.x-0.3" [buttoncolor]="backgroundcolor" [selectable]="selectable"
                                (change)="password=$event" (openinput)="input.openkeyboard($event, inputpassword, password)">
            </flat-ui-input-text>
          </ngt-group>
        </ngt-mesh>
      </ngt-group>
    </ngt-group>

    <flat-ui-button [text]="'x'" [textjustify]="'right'" [labelcolor]="textcolor" [selectable]="selectable"
                    [buttoncolor]="closecolor" [hovercolor]="hovercolor"
                    [geometry]="closegeometry" [material]="closematerial"
                    [position]="[innerscale.x/2-0.05, innerscale.y/2-0.1, 0.001]" (pressed)="close.next(true)">
    </flat-ui-button>

    <ngt-group [position]="[0, -innerscale.x/2+0.15, 0.001]" [scale]="0.6">

      <flat-ui-button [text]="'SIGN UP'" [labelcolor]="textcolor" [selectable]="selectable"
                      [geometry]="buttongeometry" [material]="signupmaterial" [enabled]="isinputvalid"
                      [buttoncolor]="signupcolor" [hovercolor]="hovercolor" [fontsize]="0.1"
                      (pressed)="signupPressed()">
      </flat-ui-button>

      <ngt-mesh [geometry]="buttonborder" [material]="signupmaterial"></ngt-mesh>

    </ngt-group>
  </ngt-mesh>

  <ngt-mesh [geometry]="bordergeometry" [material]="bordermaterial"></ngt-mesh>
</ngt-group>

