<ngt-color attach="background" color="darkgray"></ngt-color>

<line-room></line-room>

<ngt-ambient-light intensity="0.1"></ngt-ambient-light>

<ngt-point-light [position]="[0, 1.5, 0]" castShadow></ngt-point-light>

<ngt-group (beforeRender)="tick()"></ngt-group>

<pedestal *ngFor="let item of displays" [position]="[item.x, 0, item.z]" [color]="'white'" [lightcolor]="item.iconcolor"></pedestal>

<svg-icon *ngFor="let item of displays"
          [svg]="item.svg"
          [iconcolor]="item.iconcolor"
          [scale]="[0.02, 0.02, 0.02]"
          [position]="[item.x, 1.3, item.z]"
          (changed)="iconChanged($event)">

</svg-icon>
<!--<svg-icon [url]="url" [iconcolor]="color" [scale]="[0.1, 0.1, 0.1]" [position]="[0, 1, 0]"></svg-icon>-->

<ngt-soba-orbit-controls></ngt-soba-orbit-controls>
