<ngt-color attach="background" color="darkgray"></ngt-color>

<line-room></line-room>

<ngt-directional-light [position]="[10, 10, 10]"></ngt-directional-light>`

<ngt-mesh-basic-material noAttach #blackmaterial color="black"></ngt-mesh-basic-material>
<ngt-mesh-basic-material noAttach #graymaterial color="gray"></ngt-mesh-basic-material>

<ng3-gui [position]="[-1.5, 1, -1.995]" [scale]="0.7" [gui]="gui" [scalable]="false" [selectable]="selectable"></ng3-gui>

<flat-ui-drag-panel [selectable]="selectable" [title]="'Data Grid'" [width]="width" [height]="height"
                    [position]="[1, 1, -2]" [scale]="0.7" [scalable]="false" [panelmaterial]="graymaterial.instance.value">

  <ng-template let-parent="parent">
    <ngt-group [appendTo]="parent" [position]="[-width/2, height/2,0.001]">

      <flat-ui-data-grid #grid [vmargin]="vmargin" [hmargin]="hmargin"
                         [datasource]="elements" [displaycolumns]="['Name','Weight', 'Symbol','Description']"
                         [rowcount]="rowcount" [pivot]="pivot"
                         (widthchange)="widthchange($event)" (heightchange)="heightchange($event)">

        <flat-ui-paginator #page [paging]="grid" [visible]="showpaging" [showlabel]="showpagelabel"
                           [showfirstlast]="showfirstlast" [buttonsize]="pagebuttonsize" [selectable]="selectable"
                           [position]="[0, -grid.height-pagebuttonsize/2, 0]" [appendTo]="grid.instance.value">
        </flat-ui-paginator>

        <!-- heading -->
        <ng-template #columnHeader let-column="column" let-index="index" let-parent="parent">
          <ngt-group [appendTo]="parent">
            <flat-ui-label [visible]="showheading" [width]="column.width" [text]="column.name" [height]="showheading ? headingheight : 0" [labelmaterial]="blackmaterial.instance.value"></flat-ui-label>

            <ngt-line *ngIf="index==0 && showhlines" [position]="[-column.width/2, showheading ? -headingheight/2 : 0, 0]" [geometry]="hline" [material]="blackmaterial.instance.value"></ngt-line>
            <ngt-line *ngIf="index==0 && showheading && showhlines" [position]="[-column.width/2, headingheight/2, 0]" [geometry]="hline" [material]="blackmaterial.instance.value"></ngt-line>

            <ngt-group *ngIf="showvlines">
              <ngt-line *ngIf="index==0" [position]="[-column.width/2, showheading ? headingheight/2 : 0, 0]" [geometry]="vline" [material]="blackmaterial.instance.value"></ngt-line>
              <ngt-line [position]="[column.width/2, showheading ? headingheight/2 : 0, 0]" [geometry]="vline" [material]="blackmaterial.instance.value"></ngt-line>
            </ngt-group>
          </ngt-group>
        </ng-template>

        <!-- columns -->
        <flat-ui-data-grid-column [name]="'Name'">
          <ng-template #columnRow let-row="row" let-column="column" let-parent="parent">
            <ngt-group [appendTo]="parent">
              <flat-ui-label [width]="pivot ? 2.7 : column.width" [height]="pivot ? 0.1 : rowheight" [text]="row.name"></flat-ui-label>

              <ngt-line *ngIf="showhlines" [visible]="row.name" [position]="[-column.width/2, -rowheight/2-vmargin, 0]" [geometry]="hline"></ngt-line>
            </ngt-group>
          </ng-template>
        </flat-ui-data-grid-column>

        <flat-ui-data-grid-column [name]="'Weight'">
          <ng-template #columnRow let-row="row" let-column="column" let-parent="parent">
            <ngt-group [appendTo]="parent">
              <flat-ui-label [width]="pivot ? 2.7 : column.width" [height]="pivot ? 0.1 : rowheight" [text]="row.weight"></flat-ui-label>
            </ngt-group>
          </ng-template>
        </flat-ui-data-grid-column>

        <flat-ui-data-grid-column [name]="'Symbol'">
          <ng-template #columnRow let-row="row" let-column="column" let-parent="parent">
            <ngt-group [appendTo]="parent">
              <flat-ui-label [width]="pivot ? 2.7 : column.width" [fontsize]="0.2" [height]="pivot ? 0.1 : rowheight" [text]="row.symbol"></flat-ui-label>
            </ngt-group>
          </ng-template>
        </flat-ui-data-grid-column>

        <flat-ui-data-grid-column [name]="'Color'">
          <ng-template #columnRow let-row="row" let-column="column" let-parent="parent">
            <ngt-group [appendTo]="parent">
              <flat-ui-input-color [width]="column.width" text="rgb({{row.r}},{{row.g}},{{row.b}})"></flat-ui-input-color>
            </ngt-group>
          </ng-template>
        </flat-ui-data-grid-column>

        <flat-ui-data-grid-column [name]="'Description'" [width]="2.7">
          <ng-template #columnRow let-row="row" let-column="column" let-parent="parent">
            <ngt-group [appendTo]="parent">
              <flat-ui-label [enabled]="false" [width]="column.width" [height]="rowheight" [text]="row.description"></flat-ui-label>
            </ngt-group>
          </ng-template>
        </flat-ui-data-grid-column>

        <!-- footer -->
        <ng-template #columnFooter let-column="column" let-index="index" let-parent="parent">
          <ngt-group [appendTo]="parent">
            <flat-ui-label *ngIf="index==1" [visible]="showfooter" [width]="column.width" [height]="showfooter ? footerheight :0" [text]="totalweight" [labelmaterial]="blackmaterial.instance.value"></flat-ui-label>
            <flat-ui-label *ngIf="index!=1" [visible]="showfooter" [width]="column.width" [height]="showfooter ? footerheight :0" [text]="''"></flat-ui-label>

            <ngt-group *ngIf="showfooter && showhlines">
              <ngt-line *ngIf="index==0" [position]="[-column.width/2, -footerheight/2, 0]" [geometry]="hline" [material]="blackmaterial.instance.value"></ngt-line>
              <ngt-line *ngIf="index==0" [position]="[-column.width/2, footerheight/2, 0]" [geometry]="hline" [material]="blackmaterial.instance.value"></ngt-line>
            </ngt-group>
          </ngt-group>

        </ng-template>
      </flat-ui-data-grid>
    </ngt-group>

  </ng-template>
</flat-ui-drag-panel>


<vr-controller guipointer showcontroller trackedpointer navhome [guis]="selectable.list"></vr-controller>
<vr-controller [index]="1" guipointer showcontroller trackedpointer navhome [guis]="selectable.list"></vr-controller>

<ngt-soba-orbit-controls></ngt-soba-orbit-controls>
