<ngt-color attach="background" color="darkgray"></ngt-color>

<line-room></line-room>

<ngt-directional-light [position]="[10, 10, 10]"></ngt-directional-light>

<ngt-group ngtBoxHelper [position]="[-0.5, 1, 2]">
  <flat-ui-data-grid [datasource]="elements" [displaycolumns]="['Name', 'Weight', 'Symbol']" [pivot]="pivot">

    <flat-ui-data-grid-column [name]="'Name'">
      <ng-template #columnRow let-row="row" let-column="column" let-parent="parent">
        <ngt-group [appendTo]="parent">
          <flat-ui-label [width]="column.width" [height]="pivot ? 0.1 : 0.2" [text]="row.name"></flat-ui-label>
        </ngt-group>
      </ng-template>
    </flat-ui-data-grid-column>

    <flat-ui-data-grid-column [name]="'Weight'">
      <ng-template #columnRow let-row="row" let-column="column" let-parent="parent">
        <ngt-group [appendTo]="parent">
          <flat-ui-label [width]="column.width" [height]="pivot ? 0.1 : 0.2" [text]="row.weight"></flat-ui-label>
        </ngt-group>
      </ng-template>
    </flat-ui-data-grid-column>

    <flat-ui-data-grid-column [name]="'Symbol'">
      <ng-template #columnRow let-row="row" let-column="column" let-parent="parent">
        <ngt-group [appendTo]="parent">
          <flat-ui-label [width]="column.width" [fontsize]="0.2" [text]="row.symbol"></flat-ui-label>
        </ngt-group>
      </ng-template>
    </flat-ui-data-grid-column>

    <flat-ui-data-grid-column [name]="'Color'">
      <ng-template #columnRow let-row="row" let-column="column" let-parent="parent">
        <ngt-group [appendTo]="parent">
          <flat-ui-input-color [visible]="row.name" [width]="column.width" text="rgb({{row.r}},{{row.g}},{{row.b}})"></flat-ui-input-color>
        </ngt-group>
      </ng-template>
    </flat-ui-data-grid-column>

  </flat-ui-data-grid>
</ngt-group>

<vr-controller guipointer showcontroller trackedpointer navhome [guis]="selectable.list"></vr-controller>
<vr-controller [index]="1" guipointer showcontroller trackedpointer navhome [guis]="selectable.list"></vr-controller>

<ngt-soba-orbit-controls></ngt-soba-orbit-controls>
