<ngt-color attach="background" color="darkgray"></ngt-color>

<line-room></line-room>

<ngt-directional-light [position]="[10, 10, 10]"></ngt-directional-light>

<ngt-mesh-basic-material noAttach #blackmaterial color="black"></ngt-mesh-basic-material>

<ngt-group ngtBoxHelper>
  <flat-ui-data-grid #grid [position]="[-2, 1.5, 0]" [datasource]="elements" [displaycolumns]="['Name','Weight', 'Symbol','Description']"
                     [rowcount]="5" [pivot]="pivot" [buttonsize]="0.2"
                     (widthchange)="widthchange($event)">

    <flat-ui-paginator #page [showlabel]="true" [position]="[0, -grid.height-pagebuttonsize/2, 0]" [showfirstlast]="true" [buttonsize]="pagebuttonsize" [selectable]="selectable" [appendTo]="grid.instance.value"></flat-ui-paginator>

    <ng-template #columnHeader let-column="column" let-index="index" let-parent="parent">
      <ngt-group [appendTo]="parent">
        <flat-ui-label [width]="column.width" [text]="column.name" [labelmaterial]="blackmaterial.instance.value"></flat-ui-label>

        <ngt-line *ngIf="index==0" [position]="[-column.width/2, -0.05, 0]" [geometry]="hline" [material]="blackmaterial.instance.value"></ngt-line>
      </ngt-group>
    </ng-template>

    <flat-ui-data-grid-column [name]="'Name'">
      <ng-template #columnRow let-row="row" let-column="column" let-parent="parent">
        <ngt-group [appendTo]="parent">
          <flat-ui-label [width]="pivot ? 2.7 : column.width" [height]="pivot ? 0.1 : 0.25" [text]="row.name"></flat-ui-label>

          <ngt-line [visible]="row.name" [position]="[-column.width/2, -0.125, 0]" [geometry]="hline"></ngt-line>
        </ngt-group>
      </ng-template>
    </flat-ui-data-grid-column>

    <flat-ui-data-grid-column [name]="'Weight'">
      <ng-template #columnRow let-row="row" let-column="column" let-parent="parent">
        <ngt-group [appendTo]="parent">
          <flat-ui-label [width]="pivot ? 2.7 : column.width" [height]="pivot ? 0.1 : 0.25" [text]="row.weight"></flat-ui-label>
        </ngt-group>
      </ng-template>
    </flat-ui-data-grid-column>

    <flat-ui-data-grid-column [name]="'Symbol'">
      <ng-template #columnRow let-row="row" let-column="column" let-parent="parent">
        <ngt-group [appendTo]="parent">
          <flat-ui-label [width]="pivot ? 2.7 : column.width" [fontsize]="0.2" [height]="pivot ? 0.1 : 0.25" [text]="row.symbol"></flat-ui-label>
        </ngt-group>
      </ng-template>
    </flat-ui-data-grid-column>

    <flat-ui-data-grid-column [name]="'Color'">
      <ng-template #columnRow let-row="row" let-column="column" let-parent="parent">
        <ngt-group [appendTo]="parent">
          <flat-ui-input-color [width]="column.width" text="rgb({{row.r}},{{row.g}},{{row.b}})"></flat-ui-input-color>
        </ngt-group>
      </ng-template>
    </flat-ui-data-grid-column>

    <flat-ui-data-grid-column [name]="'Description'">
      <ng-template #columnRow let-row="row" let-column="column" let-parent="parent">
        <ngt-group [appendTo]="parent">
          <flat-ui-label [enabled]="false" [width]="2.7" [height]="0.25" [text]="row.description"></flat-ui-label>
        </ngt-group>
      </ng-template>
    </flat-ui-data-grid-column>

  </flat-ui-data-grid>
</ngt-group>


<vr-controller guipointer showcontroller trackedpointer navhome [guis]="selectable.list"></vr-controller>
<vr-controller [index]="1" guipointer showcontroller trackedpointer navhome [guis]="selectable.list"></vr-controller>

<ngt-soba-orbit-controls></ngt-soba-orbit-controls>
