<ngt-color attach="background" color="darkgray"></ngt-color>

<line-room></line-room>

<ngt-directional-light [position]="[10, 10, 10]"></ngt-directional-light>

<flat-ui-drag-panel [title]="'Stats'" [showclose]="false" [width]="0.6" [height]="0.45" [position]="[0, 1.5, -1]" [selectable]="selectable">
  <ng-template let-parent="parent">
    <ngt-group [appendTo]="parent" [position]="[0, 0, 0.001]">

      <flat-ui-stats [scale]="1" [selectable]="selectable"></flat-ui-stats>

    </ngt-group>
  </ng-template>
</flat-ui-drag-panel>

<vr-controller guipointer showcontroller trackedpointer navhome [guis]="selectable.list"></vr-controller>
<vr-controller [index]="1" guipointer showcontroller trackedpointer navhome [guis]="selectable.list"></vr-controller>

<ngt-soba-orbit-controls></ngt-soba-orbit-controls>
