<ngt-color attach="background" color="darkgray"></ngt-color>

<line-room></line-room>

<ngt-directional-light [position]="[10, 10, 10]" castShadow></ngt-directional-light>

<ngt-mesh #floor [rotation]="[-1.57, 0, 0]" receiveShadow>
  <ngt-plane-geometry [args]="[4.8, 4.8, 2, 2]"></ngt-plane-geometry>
  <ngt-mesh-standard-material transparent opacity="0.25"></ngt-mesh-standard-material>
</ngt-mesh>

<ngt-soba-text #left [text]="text"
               [castShadow]="true"
               [color]="'white'"
               [maxWidth]="8"
               [fontSize]="0.1"
               font="https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwK4vaqI.woff"
               anchorX="center"
               anchorY="bottom"
               [position]="[-1, 1, -3]">
</ngt-soba-text>

<ngt-soba-text #right [text]="text"
               [castShadow]="true"
               [color]="'white'"
               [maxWidth]="8"
               [fontSize]="0.1"
               font="https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwK4vaqI.woff"
               anchorX="center"
               anchorY="bottom"
               [position]="[1, 1, -3]">
</ngt-soba-text>

<vr-controller handinput showhand navhome handgesture #gesture="handGesture"
               [handModelType]="modeltype"
               (pinchstart)="log('pinchstart', $event)"
               (pinchend)="log('pinchend',$event)"
               (gesture)="left.text = $event">

</vr-controller>

<!--(pinch)="gesture.captureGesture()"-->
<vr-controller [index]="1" handinput showhand navhome handgesture
               (gesture)="right.text = $event"></vr-controller>

<ngt-soba-orbit-controls></ngt-soba-orbit-controls>

