<ngt-color attach="background" color="darkgray"></ngt-color>

<line-room></line-room>

<ngt-directional-light [position]="[10, 10, 10]" castShadow></ngt-directional-light>

<ngt-physics [gravity]="[0, -9.8/2, 0]" [iterations]="50" [defaultContactMaterial]="{contactEquationStiffness: 5e6, contactEquationRelaxation: 3}">
  <ngt-cannon-debug disabled scale="1.1" color="red">

    <ngt-group #room>
      <inspect-cube *ngFor="let item of cubes" [position]="item.position"></inspect-cube>
    </ngt-group>

    <xr-controller grab showcontroller [room]="room.instance.value"></xr-controller>

    <inspect-cube [position]="[0, tableHeight, -1]" [size]="[2, 0.1, 1]" [color]="'cornflowerblue'" [mass]="0"></inspect-cube>
    <floor></floor>

  </ngt-cannon-debug>
</ngt-physics>
