<ngt-color attach="background" color="darkgray"></ngt-color>

<line-room></line-room>

<ngt-directional-light [position]="[10, 10, 10]"></ngt-directional-light>

<ngt-mesh-basic-material #shape color="orange"></ngt-mesh-basic-material>
<ngt-mesh-basic-material #red color="red"></ngt-mesh-basic-material>

<ngt-group [position]="[-1, 1.5, -2]">
  <elseif-shape [position]="[0, 0, 0]" [width]="0.9" [showelse]="false" [ifheight]="0.2" [material]="shape.instance.value"></elseif-shape>
  <statement-shape [position]="[0.1, -0.4, 0]" [width]="width" [material]="red.instance.value"></statement-shape>
</ngt-group>

<ngt-group [position]="[0, 1.9, -2]">
  <event-shape [position]="[0, 0.4, 0]" [width]="width" [material]="red.instance.value"></event-shape>
  <elseif-shape [position]="[0, 0, 0]" [width]="1" [showelse]="true" [material]="shape.instance.value" (heightchange)="log('heightchange',$event)"></elseif-shape>
</ngt-group>



<vr-controller navhome></vr-controller>
<vr-controller [index]="1" navhome></vr-controller>

<ngt-soba-orbit-controls></ngt-soba-orbit-controls>
