<ngt-color attach="background" color="darkgray"></ngt-color>

<line-room></line-room>

<ngt-directional-light [position]="[10, 10, 10]"></ngt-directional-light>

<flat-ui-input-textarea #textarea [position]="[0, 0.5, -1]" [text]="text" [selectable]="selectable"
                        [width]="2" [height]="0.5" (scroll)="scroll($event)">
</flat-ui-input-textarea>

<flat-ui-progress-bar [position]="[0, 1, -1]" [value]="value" [max]="max"></flat-ui-progress-bar>

<flat-ui-material-button [position]="[-0.1, 1.2, -1]" [text]="'skip_previous'" [selectable]="selectable" (pressed)="textarea.movetostart()"></flat-ui-material-button>
<flat-ui-material-button [position]="[0.1, 1.2, -1]" [text]="'skip_next'" [selectable]="selectable" (pressed)="textarea.movetoend()"></flat-ui-material-button>


<vr-controller guipointer showcontroller trackedpointer navhome [guis]="selectable.list"></vr-controller>

<vr-controller [index]="1" navhome></vr-controller>

<!--<ngt-soba-orbit-controls vrorbit [enableRotate]="false"></ngt-soba-orbit-controls>-->
