<ngt-mesh *ngFor="let item of nodes" visible="false" (ready)="item.mesh=$event;list.push($event)" [castShadow]="castShadow">
  <ngt-sphere-geometry [args]="[item.node.data.size]"></ngt-sphere-geometry>
  <ngt-mesh-standard-material [color]="item.node.data.color"></ngt-mesh-standard-material>

  <ngt-soba-text *ngIf="showNodeLabel"
                 [text]="item.node.data.text"
                 [position]="[0, item.node.data.size, 0]"
                 [castShadow]="castShadow"
                 [color]="item.node.data.textcolor"
                 [fontSize]="item.node.data.textsize"
                 [font]="labelFont"
                 anchorX="center"
                 anchorY="bottom">
  </ngt-soba-text>

</ngt-mesh>

<ngt-group *ngFor="let item of links" (ready)="item.group=$event">

  <ngt-mesh (ready)="item.mesh=$event" visible="false" [castShadow]="castShadow">
    <ngt-box-geometry [args]="[0.1, 1, 0.1]"></ngt-box-geometry>
    <ngt-mesh-basic-material [color]="item.link.data.color"></ngt-mesh-basic-material>
  </ngt-mesh>

  <ngt-soba-text *ngIf="showLinkLabel"
                 (ready)="item.label=$event"
                 visible="false"
                 [text]="item.link.data.text"
                 [castShadow]="castShadow"
                 [color]="item.link.data.textcolor"
                 [fontSize]="item.link.data.textsize"
                 [font]="labelFont"
                 anchorX="center"
                 anchorY="bottom"
                 [rotation]="[0, 90 | radian, -90 | radian]">
  </ngt-soba-text>

  <ngt-mesh *ngIf="showArrow" visible="false" (ready)="item.arrow=$event" [castShadow]="castShadow">
    <ngt-cylinder-geometry [args]="[0.3, 0, 0.8]"></ngt-cylinder-geometry>
    <ngt-mesh-basic-material [color]="item.link.data.arrowcolor"></ngt-mesh-basic-material>
  </ngt-mesh>
</ngt-group>
