<ngt-group [ngSwitch]="item.classname">
  <ng-template [ngSwitchCase]="'options'">
    <flat-ui-label [text]="item.property"></flat-ui-label>
    <flat-ui-select [text]="'test'"></flat-ui-select>
  </ng-template>
  <ng-template [ngSwitchCase]="'number'">
    <ngt-group horizontal-layout [margin]="[0.02, 0, 0]">
      <flat-ui-label [text]="item.property" [width]="0.8"></flat-ui-label>
      <flat-ui-input-slider [width]="0.5" [min]="item.min" [max]="item.max" [step]="item.step" [value]="value" [selectable]="selectable" (change)="value=$event"></flat-ui-input-slider>
      <flat-ui-input-number [min]="item.min" [max]="item.max" [text]="textvalue" [enabled]="false"></flat-ui-input-number>
    </ngt-group>
  </ng-template>
  <ng-template [ngSwitchCase]="'boolean'">
    <flat-ui-label [text]="item.property"></flat-ui-label>
  </ng-template>
  <ng-template [ngSwitchCase]="'string'">
    <flat-ui-label [text]="item.property"></flat-ui-label>
  </ng-template>
  <ng-template [ngSwitchCase]="'function'">
    <flat-ui-label [text]="item.property"></flat-ui-label>
  </ng-template>
</ngt-group>
