<ngt-color attach="background" color="darkgray"></ngt-color>

<line-room></line-room>

<ngt-directional-light [position]="[10, 10, 10]"></ngt-directional-light>

<flat-ui-list [position]="[-0.6, 1, -1]" [list]="list" [rowcount]="7" [height]="1" [selectedtext]="selectedtext" [selectable]="selectable"
              (change)="selected($event)">

  <ng-template #listItem let-list="list" let-text="text" let-width="width" let-index="index" let-parent="parent">
    <ngt-group [appendTo]="parent">
      <flat-ui-button [selectable]="selectable" [text]="text" [width]="width" (pressed)="list.selected(index)"></flat-ui-button>
    </ngt-group>
  </ng-template>

</flat-ui-list>

<flat-ui-list [position]="[0.3, 1, -1]" [list]="icons" [rowcount]="3" [rowsize]="fontsize" [rowspacing]="0.05" [margin]="0.05"
              [width]="0.5" [height]="1.4" [selectedindex]="0"
              [selectable]="selectable" [showpaging]="false" [vertical]="true"
              (change)="selected($event)">

  <ng-template #listItem let-list="list" let-text="text" let-width="width" let-index="index" let-parent="parent">
    <ngt-group [appendTo]="parent">
      <flat-ui-base-button [width]="fontsize" [height]="fontsize" (pressed)="list.selected(index)" [selectable]="selectable">
        <ng-template #button>
          <flat-ui-material-icon [text]="text" [fontsize]="fontsize-0.1" [position]="[0, 0.03, 0]"></flat-ui-material-icon>
          <flat-ui-label [text]="text" [alignx]="'center'" [position]="[0, -fontsize/3, 0.001]"></flat-ui-label>
        </ng-template>
      </flat-ui-base-button>
    </ngt-group>
  </ng-template>

</flat-ui-list>

<flat-ui-list [position]="[1.3, 1, -1]" [list]="images" [rowcount]="3" [rowsize]="imagesize" [rowspacing]="0.05" [margin]="0.05"
              [width]="1.4" [height]="0.5" [selectedindex]="0"
              [selectable]="selectable" [showpaging]="false" [vertical]="false"
              (change)="selected($event)">

  <ng-template #listItem let-list="list" let-text="text" let-width="width" let-index="index" let-parent="parent">
    <ngt-group [appendTo]="parent">
      <flat-ui-basic-image [selectable]="selectable" [map]="text" [enabled]="true" [width]="imagesize" [height]="imagesize" (pressed)="list.selected(index)"></flat-ui-basic-image>
    </ngt-group>
  </ng-template>

</flat-ui-list>



<vr-controller guipointer showcontroller trackedpointer navhome [guis]="selectable.list"></vr-controller>
<vr-controller [index]="1" guipointer showcontroller trackedpointer navhome [guis]="selectable.list"></vr-controller>

<ngt-soba-orbit-controls></ngt-soba-orbit-controls>
