<ngt-color attach="background" color="darkgray"></ngt-color>

<line-room></line-room>

<ngt-directional-light [position]="[10, 10, 10]"></ngt-directional-light>

<ngt-mesh-basic-material #orange color="orange"></ngt-mesh-basic-material>
<ngt-mesh-basic-material #red color="red"></ngt-mesh-basic-material>
<ngt-mesh-basic-material #green color="green"></ngt-mesh-basic-material>
<ngt-mesh-basic-material #blue color="blue"></ngt-mesh-basic-material>

<ngt-group [position]="[-0.6, 1.5, -2]" [scale]="0.5">
  <control-shape [position]="[0, 0, 0]" [width]="0.9" [showelse]="false" [height]="0.2" [material]="orange.instance.value"></control-shape>
  <statement-shape [position]="[0.1, -0.4, 0]" [width]="width" [material]="red.instance.value"></statement-shape>
  <expression-shape [position]="[0.5, -0.15, 0.001]" [width]="0.3" [material]="green.instance.value"></expression-shape>
</ngt-group>

<ngt-group [position]="[0.1, 1.7, -2]" [scale]="0.5">
  <event-shape [position]="[0, 0.4, 0]" [width]="width" [material]="red.instance.value"></event-shape>
  <control-shape [position]="[0, 0, 0]" [width]="1" [showelse]="true" [elseheight]="0" [material]="orange.instance.value" (heightchange)="log('heightchange',$event)"></control-shape>
  <condition-shape [position]="[0.55, -0.15, 0.001]" [width]="0.3" [material]="blue.instance.value"></condition-shape>
</ngt-group>

<ngt-mesh [position]="[0, 1, 0]" (ready)="meshready($event)" (beforeRender)="tick($event.object)">
  <ngt-box-geometry [args]="[0.1, 0.1, 0.1]"></ngt-box-geometry>
</ngt-mesh>

<vr-controller navhome></vr-controller>
<vr-controller [index]="1" navhome></vr-controller>

<ngt-soba-orbit-controls></ngt-soba-orbit-controls>
