<ngt-color attach="background" color="darkgray"></ngt-color>

<line-room></line-room>

<ngt-directional-light [position]="[10, 10, 10]"></ngt-directional-light>

<ngt-group [position]="[-1.6, 1.5, -2]" [scale]="0.5">
  <control-shape [position]="[0, 0, 0]" [width]="0.9" [showelse]="false" [height]="0.2"></control-shape>
  <statement-shape [position]="[0.1, -0.4, 0]" [width]="width"></statement-shape>
  <expression-shape [position]="[0.5, -0.15, 0.001]" [width]="0.3"></expression-shape>
</ngt-group>

<ngt-group [position]="[1.1, 1.7, -2]" [scale]="0.5">
  <event-shape [position]="[0, 0.4, 0]" [width]="width"></event-shape>
  <control-shape [position]="[0, 0, 0]" [width]="1" [showelse]="true" [elseheight]="0" (heightchange)="log('heightchange',$event)"></control-shape>
  <condition-shape [position]="[0.55, -0.15, 0.001]" [width]="0.3"></condition-shape>
</ngt-group>

<ngt-group>
  <variable-block [text]="variablename"></variable-block>
</ngt-group>

<vr-controller navhome></vr-controller>
<vr-controller [index]="1" navhome></vr-controller>

<ngt-soba-orbit-controls></ngt-soba-orbit-controls>
