<flat-ui-expansion-panel [selectable]="selectable" [title]="gui.title" [width]="gui.width" [height]="gui.height" [position]="position" [rotation]="rotation" [scale]="scale">
  <ng-template let-parent="parent">
    <ngt-group vertical-layout [appendTo]="parent" [margin]="[0, 0.02, 0]" [position]="[-gui.width/2, gui.height/2, 0.001]">

      <three-gui-item *ngFor="let item of gui.list" [item]="item" [width]="gui.width" [selectable]="selectable"></three-gui-item>

    </ngt-group>
  </ng-template>
</flat-ui-expansion-panel>
