<ngt-color attach="background" color="darkgray"></ngt-color>

<line-room></line-room>

<ngt-ambient-light intensity="0.1"></ngt-ambient-light>
<ngt-point-light></ngt-point-light>

<ngt-soba-text [text]="'Directed Acyclic Graph'"
               [position]="[0, 3.3, -2.999]"
               [fontSize]="0.3"
               [font]="labelFont"
               [color]="'black'"
               anchorX="center"
               anchorY="bottom">
</ngt-soba-text>

<ngt-soba-text [text]="'Civilization V, Brave New World Tech Graph'"
               [position]="[0, 0.001, -0.8]"
               [rotation]="[-90 | radian, 0, 0]"
               [fontSize]="0.2"
               [font]="labelFont"
               [color]="'black'"
               anchorX="center"
               anchorY="bottom">
</ngt-soba-text>

<ngt-soba-text [text]="'https://github.com/neoddish/Civ-TechTree'"
               [position]="[0, 0.001, -0.4]"
               [rotation]="[-90 | radian, 0, 0]"
               [fontSize]="0.2"
               [font]="labelFont"
               [color]="'black'"
               anchorX="center"
               anchorY="bottom">
</ngt-soba-text>

<ngt-soba-text *ngIf="loading"
               [text]="'Loading...'"
               [position]="[0, 1.5, -1]"
               [fontSize]="0.1"
               [font]="labelFont"
               [color]="'black'"
               anchorX="center"
               anchorY="bottom">
</ngt-soba-text>

<directed-graph [position]="[0, 1.5, -1]" [rotation]="[0, 0, 0]" [scale]="[0.5, 0.5, 0.5]"
                [graph]="graph"
                [selectable]="list"
                (loaded)="loading=!$event"
                (nodeSelected)="nodeSelected($event)"
                (linkSelected)="linkSelected($event)">

</directed-graph>

<vr-controller showcontroller trackedpointer navhome
               select [selectable]="list" (selected)="selected($event.object)"
               (selectHighlight)="highlight($event.object)" (selectUnhighlight)="unhighlight($event.object)"></vr-controller>

<vr-controller [index]="1"
               showcontroller trackedpointer navhome
               select [selectable]="list"
               (selectHighlight)="highlight($event.object)" (selectUnhighlight)="unhighlight($event.object)"></vr-controller>

<ngt-soba-orbit-controls [target]="[0, 1.5, 0]"></ngt-soba-orbit-controls>
