<ngt-color attach="background" color="darkgray"></ngt-color>

<line-room></line-room>

<ngt-directional-light [position]="[10, 10, 10]"></ngt-directional-light>

<ngt-mesh (ready)="shapemesh = $event"></ngt-mesh>

<!--<ngt-mesh *ngFor="let point of points" [position]="point.position">
  <ngt-circle-geometry [args]="[0.01]"></ngt-circle-geometry>
  <ngt-mesh-basic-material [color]="point.color"></ngt-mesh-basic-material>
</ngt-mesh>-->
<ngt-mesh [position]="startposition">
  <ngt-plane-geometry [args]="[width, width]"></ngt-plane-geometry>
  <ngt-mesh-basic-material color="green"></ngt-mesh-basic-material>
</ngt-mesh>
<ngt-mesh [position]="endposition">
  <ngt-plane-geometry [args]="[width, width]"></ngt-plane-geometry>
  <ngt-mesh-basic-material color="black"></ngt-mesh-basic-material>
</ngt-mesh>

<vr-controller navhome></vr-controller>
<vr-controller [index]="1" navhome></vr-controller>

<ngt-soba-orbit-controls></ngt-soba-orbit-controls>
