<ngt-color attach="background" color="darkgray"></ngt-color>

<line-room></line-room>

<ngt-ambient-light intensity="0.1"></ngt-ambient-light>
<ngt-point-light></ngt-point-light>

<ngt-group>
  <ngt-mesh *ngFor="let item of spheres" [position]="item.position" (ready)="addSphere($event)"
            [collision]="collision" [collisionType]="'sphere'" [collisionGroup]="spherecolliders" (collidebegin)="popSphere($event)">
    <ngt-sphere-geometry [args]="[0.05]"></ngt-sphere-geometry>
    <ngt-mesh-standard-material color="hotpink"></ngt-mesh-standard-material>
  </ngt-mesh>
</ngt-group>

<ngt-group>
  <ngt-mesh *ngFor="let item of boxes" [position]="item.position" (ready)="addBox($event)"
            [rotation]="[item.rotation | radian,item.rotation | radian,item.rotation | radian]"
            [collision]="collision" [collisionType]="'box'" [collisionGroup]="boxcolliders" (collidebegin)="popBox($event)">
    <ngt-box-geometry [args]="[0.1, 0.1, 0.1]"></ngt-box-geometry>
    <ngt-mesh-standard-material color="cyan"></ngt-mesh-standard-material>
  </ngt-mesh>
</ngt-group>


<ngt-group #leftstick>
  <ngt-group [rotation]="[ -60 | radian, 0, 0]">
    <ngt-mesh>
      <ngt-cylinder-geometry [args]="[0.01, 0.01, 0.2]"></ngt-cylinder-geometry>
    </ngt-mesh>
    <ngt-mesh name="lefttip" #lefttip [position]="[0, 0.1, 0]">
      <ngt-sphere-geometry [args]="[0.02]"></ngt-sphere-geometry>
      <ngt-mesh-standard-material color="hotpink"></ngt-mesh-standard-material>
    </ngt-mesh>
  </ngt-group>
</ngt-group>

<vr-controller touch navhome [collidegroup]="spherecolliders"
               [finger]="leftstick.instance.value"
               [collider]="lefttip.instance.value">

</vr-controller>

<ngt-group #rightstick>
  <ngt-group [rotation]="[ -60 | radian, 0, 0]">
    <ngt-mesh>
      <ngt-cylinder-geometry [args]="[0.01, 0.01, 0.2]"></ngt-cylinder-geometry>
    </ngt-mesh>
    <ngt-mesh name="righttip" #righttip [position]="[0, 0.1, 0]">
      <ngt-box-geometry [args]="[0.05, 0.05, 0.05]"></ngt-box-geometry>
      <ngt-mesh-standard-material color="cyan"></ngt-mesh-standard-material>
    </ngt-mesh>
  </ngt-group>
</ngt-group>

<vr-controller [index]="1" touch navhome [collidegroup]="boxcolliders"
               [finger]="rightstick.instance.value"
               [collider]="righttip.instance.value">

</vr-controller>

<ngt-soba-orbit-controls></ngt-soba-orbit-controls>
