<ngt-group [position]="position" [rotation]="rotation" [scale]="scale">
  <ngt-mesh #mesh [name]="name" [visible]="visible" (pointerover)="$event.stopPropagation()"
            (click)="ignore(mesh.instance.value, $event)" (pointermissed)="missed()"
            [geometry]="geometry" [material]="material"
            (ready)="meshready($event)">

    <flat-ui-button *ngFor="let item of data; index as index"
                    [selectable]="selectable" [text]="item.text" [visible]="item.enabled"
                    [active]="item.highlight" [width]="width-0.1" 
                    [position]="[0, height/2-0.1-index*0.12, 0.001]" (pressed)="selected(index)"></flat-ui-button>

    <ngt-group [position]="[0, -height/2 + 0.15, 0.001]">

      <flat-ui-button *ngFor="let item of keys" [transparent]="false" [selectable]="selectable"
                      [position]="item.position" [width]="item.size" [text]="item.numkey"
                      (pressed)="clicked($event)">

      </flat-ui-button>
    </ngt-group>

  </ngt-mesh>

</ngt-group>
