<ngt-color attach="background" color="darkgray"></ngt-color>

<line-room></line-room>

<ngt-ambient-light intensity="0.1"></ngt-ambient-light>
<ngt-point-light></ngt-point-light>

<ngt-mesh #floor [rotation]="[-1.57, 0, 0]">
  <ngt-plane-geometry [args]="[4.8, 4.8, 2, 2]"></ngt-plane-geometry>
  <ngt-mesh-standard-material transparent opacity="0.25"></ngt-mesh-standard-material>
</ngt-mesh>

<ngt-mesh #left [rotation]="[-1.57, 0, 0]">
  <ngt-circle-geometry [args]="[0.25, 6]"></ngt-circle-geometry>
  <ngt-mesh-standard-material></ngt-mesh-standard-material>
</ngt-mesh>

<ngt-mesh #right [rotation]="[-1.57, 0, 0]">
  <ngt-circle-geometry [args]="[0.25, 12]"></ngt-circle-geometry>
  <ngt-mesh-standard-material></ngt-mesh-standard-material>
</ngt-mesh>

<wall-clock [position]="[0, 3, -2.999]" [showrim]="true" [rimcolor]="'white'" [showsecondticks]="true" [color]="'black'" [secondcolor]="'red'" [shownumbers]="true" [numbercolor]="'white'"></wall-clock>

<circle-scale [position]="[-2, 1.5, -2]" [rotation]="[0, 45 | radian, 0]" [scale]="[2, 2, 2]"></circle-scale>
<spiral-circle [position]="[0, 1.5, -2]" [scale]="[0.25, 0.25, 0.25]" [animate]="true"></spiral-circle>
<square-scale [position]="[2, 1.5, -2]" [rotation]="[0, -45 | radian, 0]" [scale]="[2, 2, 2]"></square-scale>

<square-shift [position]="[-2, 1.5, 0]" [rotation]="[0, -90 | radian, 0]"></square-shift>
<spiral-line [position]="[2, 1.5, 0]" [rotation]="[0, -90 | radian, 0]" [animate]="false"></spiral-line>

<drawrange [position]="[-2, 1.5, 2]" [boxsize]="1"></drawrange>
<double-helix [position]="[0, 1.5, 2]" [height]="4" [scale]="[0.3, 0.3, 0.3]" [animate]="true"></double-helix>

<vr-controller teleport showcontroller trackedpointer navhome [marker]="left.instance.value" [floor]="floor.instance.value"></vr-controller>
<vr-controller [index]="1" teleport showcontroller trackedpointer navhome [marker]="right.instance.value" [floor]="floor.instance.value"></vr-controller>

<ngt-soba-orbit-controls [target]="[0, 1.5, 0]"></ngt-soba-orbit-controls>
