<ngt-color attach="background" color="darkgray"></ngt-color>

<line-room></line-room>

<ngt-directional-light [position]="[10, 10, 10]"></ngt-directional-light>

<!--arm 1-->
<ngt-group (ready)="arm1=$event" [position]="[0, 1.5, -1]">
  <ngt-mesh [position]="[0, parameters.arm1length/2, 0]">
    <ngt-box-geometry [args]="[0.01, parameters.arm1length, 0.01]"></ngt-box-geometry>

    <!--arm 2-->
    <ngt-group (ready)="arm2=$event" [position]="[0, parameters.arm1length/2, 0]">
      <ngt-mesh [position]="[0, parameters.arm2length/2, 0]">
        <ngt-box-geometry [args]="[0.01, parameters.arm2length, 0.01]"></ngt-box-geometry>
        <ngt-mesh-standard-material></ngt-mesh-standard-material>

        <!--draw point-->
        <ngt-mesh (beforeRender)="tick($event.object)" [position]="[0, parameters.arm2length/2, 0]">
          <ngt-sphere-geometry [args]="[0.005]"></ngt-sphere-geometry>
          <ngt-mesh-standard-material color="red"></ngt-mesh-standard-material>
        </ngt-mesh>
      </ngt-mesh>
    </ngt-group>

  </ngt-mesh>
</ngt-group>

<ngt-mesh (ready)="tubemesh=$event">
  <ngt-mesh-standard-material color="cornflowerblue"></ngt-mesh-standard-material>
</ngt-mesh>

<ng3-lil-gui #lil [position]="[-0.75, 1.5, -0.5]" [rotation]="[0, 3.14/4, 0]" scalar="2" [gui]="gui"></ng3-lil-gui>

<vr-controller guipointer showcontroller trackedpointer navhome [gui]="lil.group"></vr-controller>
<vr-controller [index]="1" guipointer showcontroller trackedpointer navhome [gui]="lil.group"></vr-controller>

<mouse-touch-input [intersectObjects]="lil.group.children"></mouse-touch-input>

<!--<ngt-soba-orbit-controls [target]="[0, 1.2, -2]"></ngt-soba-orbit-controls>-->
