<ngt-color attach="background" color="darkgray"></ngt-color>

<line-room></line-room>

<ngt-directional-light [position]="[10, 10, 10]"></ngt-directional-light>

<two-arm-spiro #inst (ready)="ready(inst)" [position]="position"></two-arm-spiro>

<ng3-lil-gui #lil [position]="[0, 1, -1]" [rotation]="[0, 0, 0]" scalar="3" [gui]="gui"></ng3-lil-gui>

<vr-controller guipointer showcontroller trackedpointer navhome [guis]="[lil.mesh]"></vr-controller>
<vr-controller [index]="1" guipointer showcontroller trackedpointer navhome [guis]="[lil.mesh]"></vr-controller>

<mouse-touch-input [intersectObjects]="[lil.mesh]"></mouse-touch-input>

<!--<ngt-soba-orbit-controls [target]="[0, 1.2, -2]"></ngt-soba-orbit-controls>-->
