<ngt-group [ngtObjectPassThrough]="this" (beforeRender)="tick()">

  <ngt-group *ngFor="let item of display" [rotation]="[0, 0, item.radians]">
    <ngt-mesh (ready)="meshready($event, item)" [geometry]="item.geometry" [material]="item.data.material">

      <flat-ui-label [text]="item.data.label" [fontsize]="item.data.labelsize" [alignx]="'center'"
                     [position]="item.center" [rotation]="[0, 0, -item.radians - rotatetext]">
      </flat-ui-label>
    </ngt-mesh>
  </ngt-group>

</ngt-group>
