<ngt-color attach="background" color="darkgray"></ngt-color>

<line-room></line-room>

<ngt-directional-light [position]="[10, 10, 10]" castShadow></ngt-directional-light>

<ngt-group #stick>
  <ngt-group [rotation]="[ -60 | radian, 0, 0]">
    <ngt-mesh>
      <ngt-cylinder-geometry [args]="[0.01, 0.01, 0.2]"></ngt-cylinder-geometry>
    </ngt-mesh>
    <ngt-mesh #socket [position]="[0, 0.1, 0]">
      <ngt-sphere-geometry [args]="[0.02]"></ngt-sphere-geometry>
      <ngt-mesh-standard-material color="gold"></ngt-mesh-standard-material>
    </ngt-mesh>
  </ngt-group>
</ngt-group>

<ngt-physics>
  <ngt-cannon-debug disabled scale="1.1" color="red">

    <keyboard [position]="[0, 1, -0.5]" [rotation]="[30 | radian, 0, 0]" [scale]="0.3"></keyboard>

    <xr-controller drumstick [stick]="stick.instance.value" [socket]="socket.instance.value"></xr-controller>
    <xr-controller [index]="1" drumstick [stick]="stick.instance.value" [socket]="socket.instance.value"></xr-controller>

  </ngt-cannon-debug>
</ngt-physics>
