<ngt-color attach="background" color="black"></ngt-color>

<line-room [center]="false"></line-room>

<ngt-ambient-light intensity="0.6"></ngt-ambient-light>

<ngt-instanced-mesh #mesh [count]="data.length"
                    (ready)="inst=mesh.instance.value;compute()" (beforeRender)="tick(mesh.instance.value)">
  <ngt-sphere-geometry [args]="[size]"></ngt-sphere-geometry>
  <ngt-mesh-standard-material></ngt-mesh-standard-material>
</ngt-instanced-mesh>


<vr-controller guipointer showcontroller trackedpointer navhome [guis]="meshes"></vr-controller>
<vr-controller [index]="1" guipointer showcontroller trackedpointer navhome [guis]="meshes"></vr-controller>

<ng3-gui [position]="[0, 1, -2]" [scale]="0.5" [gui]="maingui" [locked]="true" [showclose]="false" [showexpand]="false" [resizable]="false"></ng3-gui>

<ng3-gui [position]="[-1.8, 1, -1.2]" [rotation]="[0, 3.14/3, 0]" [scale]="0.5" [gui]="redgui" [locked]="true" [showclose]="false" [showexpand]="false" [resizable]="false"></ng3-gui>
<ng3-gui [position]="[-1, 1, -1.8]" [rotation]="[0, 3.14/8, 0]" [scale]="0.5" [gui]="greengui" [locked]="true" [showclose]="false" [showexpand]="false" [resizable]="false"></ng3-gui>
<ng3-gui [position]="[1, 1, -1.8]" [rotation]="[0, -3.14/8, 0]" [scale]="0.5" [gui]="bluegui" [locked]="true" [showclose]="false" [showexpand]="false" [resizable]="false"></ng3-gui>
<ng3-gui [position]="[1.8, 1, -1.2]" [rotation]="[0, -3.14/3, 0]" [scale]="0.5" [gui]="yellowgui" [locked]="true" [showclose]="false" [showexpand]="false" [resizable]="false"></ng3-gui>

<ngt-soba-orbit-controls></ngt-soba-orbit-controls>
