<ngt-color attach="background" color="black"></ngt-color>

<line-room [center]="false"></line-room>

<ngt-ambient-light intensity="0.6"></ngt-ambient-light>

<ngt-instanced-mesh #mesh [count]="data.length"
                    (ready)="inst=mesh.instance.value;compute()" (beforeRender)="tick(mesh.instance.value)">
  <ngt-sphere-geometry [args]="[size]"></ngt-sphere-geometry>
  <ngt-mesh-standard-material></ngt-mesh-standard-material>
</ngt-instanced-mesh>


<vr-controller guipointer showcontroller trackedpointer navhome [guis]="meshes"></vr-controller>
<vr-controller [index]="1" guipointer showcontroller trackedpointer navhome [guis]="meshes"></vr-controller>

<ng3-lil-gui #lil (ready)="meshes.push($event)" [position]="[-0.75, 1, -1]" [rotation]="[0, 3.14/4, 0]" scalar="3" [gui]="gui"></ng3-lil-gui>

<ngt-soba-orbit-controls></ngt-soba-orbit-controls>
