<ngt-color attach="background" color="black"></ngt-color>

<line-room></line-room>

<ngt-point-light [position]="[10, 10, 10]"></ngt-point-light>

<ngt-mesh [rotation]="[-90 | radian, 0, 0]">
  <ngt-plane-geometry [args]="[4.8, 4.8]"></ngt-plane-geometry>
  <ngt-mesh-basic-material color="#283756"></ngt-mesh-basic-material>
</ngt-mesh>

<ngt-mesh-basic-material #floor color="#1E2A42"></ngt-mesh-basic-material>

<ngt-group [scale]="1" [position]="[-2, 0, -1]" [rotation]="[0, 45 | radian, 0]">

  <ngt-mesh [position]="[width/2, 0.001, 0]" [rotation]="[-90 | radian, 0, 0]" [material]="floor.instance.value">
    <ngt-plane-geometry [args]="[width, 0.1]"></ngt-plane-geometry>
  </ngt-mesh>

  <column-chart [data]="arrowdata" [position]="[0, 0, 0]" [scale]="1" [rotation]="[0 | radian, 0, 0]" [calloutmaterial]="floor.instance.value">
    <!--<column-data *ngFor="let item of arrowdata"
                 [label]="item.label" [value]="0.5" [displayvalue]="item.displayvalue"
                 [geometry]="item.geometry" [material]="item.material">
    </column-data>-->

    <ng-template #xaxis let-x="x" let-data="data">
      <flat-ui-label [text]="data.label" [width]="0" [rotation]="[-90 | radian, 0, -90 | radian]"
                     [position]="[x, 0, 0.05]">
      </flat-ui-label>
      <!--<chart-underline [position]="[x-0.05, 0.001, 0.08]" [rotation]="[-90 | radian, 0, -90 | radian]"></chart-underline>-->
    </ng-template>
  </column-chart>
</ngt-group>

<ngt-group ngtBoxHelper>
</ngt-group>

<vr-controller navhome></vr-controller>
<vr-controller [index]="1" navhome></vr-controller>

<ngt-soba-orbit-controls></ngt-soba-orbit-controls>
