<ngt-color attach="background" color="black"></ngt-color>

<!--<line-room></line-room>-->

<ngt-point-light [position]="[10, 10, 10]"></ngt-point-light>

<ngt-mesh [rotation]="[-90 | radian, 0, 0]">
  <ngt-plane-geometry [args]="[4.8, 4.8]"></ngt-plane-geometry>
  <ngt-mesh-basic-material color="#283756"></ngt-mesh-basic-material>
</ngt-mesh>

<ngt-mesh-basic-material #floor color="#1E2A42"></ngt-mesh-basic-material>
<ngt-mesh-basic-material #ring color="#1C2B42"></ngt-mesh-basic-material>

<ngt-group [scale]="1" [position]="[-2, 0, -1]" [rotation]="[0, 45 | radian, 0]">

  <ngt-mesh [position]="[width/2, 0.001, 0]" [rotation]="[-90 | radian, 0, 0]" [material]="floor.instance.value">
    <ngt-plane-geometry [args]="[width, 0.1]"></ngt-plane-geometry>
  </ngt-mesh>

  <column-chart [data]="arrowdata" [position]="[0, 0, 0]" [scale]="1" [rotation]="[0 | radian, 0, 0]">
    <!--<column-data *ngFor="let item of arrowdata"
                 [label]="item.label" [value]="0.5"
                 [geometry]="item.geometry" [material]="item.material">
    </column-data>-->

    <ng-template #xaxis let-x="x" let-data="data">
      <flat-ui-label [text]="data.label" [width]="0" [rotation]="[-90 | radian, 0, -90 | radian]"
                     [position]="[x, 0, 0.05]">
      </flat-ui-label>
      <!--<chart-underline [position]="[x-0.05, 0.001, 0.08]" [rotation]="[-90 | radian, 0, -90 | radian]"></chart-underline>-->
    </ng-template>

    <ng-template #value let-x="x" let-y="y" let-data="data">
      <chart-callout [text]="arrowtext(data)" [rotation]="[0, -90 | radian, 0]"
                     [position]="[x, y+0.05, 0]" [calloutmaterial]="floor.instance.value"></chart-callout>
    </ng-template>

  </column-chart>
</ngt-group>

<ngt-group [scale]="1" [position]="[-2, 0, 0.5]" [rotation]="[0, 45 | radian, 0]">

  <column-chart [distribution]="'sum'" [spacing]="0" [data]="boxdata" [position]="[0, 0, 0]" [scale]="1" [rotation]="[0 | radian, 0, 0]">
    <!--<column-data *ngFor="let item of boxdata"
                 [label]="item.label" [value]="0.5"
                 [geometry]="item.geometry" [material]="item.material">
    </column-data>-->

    <ng-template #xaxis let-x="x" let-data="data">
      <flat-ui-label [text]="data.label" [width]="0.2" [rotation]="[-90 | radian, 0, -90 | radian]"
                     [position]="[x+0.05, 0, 0.4]">
      </flat-ui-label>
      <chart-underline [position]="[x, 0.001, 0.24]" [length]="0.3" [rotation]="[-90 | radian, 0, -90 | radian]"></chart-underline>
    </ng-template>

    <ng-template #value let-x="x" let-y="y" let-data="data">
    </ng-template>

  </column-chart>
</ngt-group>

<ngt-group [scale]="1" [position]="[-0.3, 0, 0.3]" [rotation]="[0, 45 | radian, 0]">

  <column-chart [spacing]="0" [width]="2" [data]="ringdata" [position]="[0, 0, 0]" [scale]="1" [rotation]="[0 | radian, 0, 0]">
    <!--<column-data *ngFor="let item of ringdata"
                 [label]="item.label" [value]="0.5"
                 [geometry]="item.geometry" [material]="item.material">
    </column-data>-->

    <ng-template #xaxis let-x="x" let-data="data">
    </ng-template>

    <ng-template #object let-x="x" let-data="data">
      <ngt-mesh [position]="[x, 0.001, 0]" [rotation]="[-90 | radian, 0, 0]" [material]="ring.instance.value">
        <ngt-ring-geometry [args]="[0.125, 0.2, 32]"></ngt-ring-geometry>
      </ngt-mesh>
    </ng-template>

    <ng-template #value let-x="x" let-y="y" let-data="data">
      <chart-callout [text]="ringtext(data)" [rotation]="[0, -90 | radian, 0]"
                     [position]="[x, y+0.05, 0]" [calloutmaterial]="floor.instance.value"></chart-callout>
    </ng-template>

  </column-chart>
</ngt-group>

<ngt-group [scale]="1" [position]="[0.4, 0, 0.9]" [rotation]="[0, 45 | radian, 0]">

  <ngt-mesh [position]="[width/2, 0.001, 0]" [rotation]="[-90 | radian, 0, 0]" [material]="floor.instance.value">
    <ngt-plane-geometry [args]="[width-0.4, 0.15]"></ngt-plane-geometry>
  </ngt-mesh>

  <column-chart [data]="rectangledata" [spacing]="0.1" [position]="[0, 0, 0]" [scale]="1" [rotation]="[0 | radian, 0, 0]">
    <!--<column-data *ngFor="let item of arrowdata"
                 [label]="item.label" [value]="0.5"
                 [geometry]="item.geometry" [material]="item.material">
    </column-data>-->

    <ng-template #xaxis let-x="x" let-data="data">
      <flat-ui-label [text]="data.label" [width]="0" [rotation]="[-90 | radian, 0, -90 | radian]"
                     [position]="[x+0.04, 0, 0.1]">
      </flat-ui-label>
      <flat-ui-label [text]="data.minorlabel" [width]="0.3" [fontsize]="0.03" [rotation]="[-90 | radian, 0, -90 | radian]"
                     [position]="[x-0.04, 0, 0.15+0.1]">
      </flat-ui-label>
    </ng-template>

    <ng-template #value let-x="x" let-y="y" let-data="data">
      <flat-ui-label [text]="ringtext(data)" [alignx]="'center'"
                     [position]="[x, y+0.05, 0]">
      </flat-ui-label>
    </ng-template>
  </column-chart>
</ngt-group>

<ngt-group [scale]="1" [position]="[0, 1, 1.2]" [rotation]="[ -0 | radian, 0, 45 | radian]">
  <pie-chart [data]="piedata" [spacing]="0" [position]="[0, 0, 0]" [scale]="1" [rotation]="[0 | radian, 0, 0]">
    <!--<column-data *ngFor="let item of piedata"
                 [label]="item.label" [value]="0.5"
                 [geometry]="item.geometry" [material]="item.material">
    </column-data>-->



  </pie-chart>
</ngt-group>

<!--<chart-grid [width]="width" [height]="height"></chart-grid>-->

<vr-controller navhome></vr-controller>
<vr-controller [index]="1" navhome></vr-controller>

<ngt-soba-orbit-controls></ngt-soba-orbit-controls>
