
<ngt-mesh [position]="position">
  <ngt-torus-geometry [args]="[0.5, 0.01, 8, 48]"></ngt-torus-geometry>
  <ngt-mesh-standard-material color="black"></ngt-mesh-standard-material>

  <ngt-group *ngFor="let item of ticks" [rotation]="[0, 0, item.angle]">
    <ngt-mesh [position]="[0, 0.43, 0]">
      <ngt-cylinder-geometry [args]="[0.01, 0.01, 0.1]"></ngt-cylinder-geometry>
      <ngt-mesh-standard-material color="black"></ngt-mesh-standard-material>
    </ngt-mesh>
  </ngt-group>

  <ngt-group [rotation]="[0, 0, second]">
    <ngt-mesh [position]="[0, 0.15, 0]">
      <ngt-cylinder-geometry [args]="[0.006, 0.006, 0.4]"></ngt-cylinder-geometry>
      <ngt-mesh-standard-material color="red"></ngt-mesh-standard-material>
    </ngt-mesh>
  </ngt-group>

  <ngt-group [rotation]="[0, 0, minute]">
    <ngt-mesh [position]="[0, 0.17, 0]">
      <ngt-cylinder-geometry [args]="[0.005, 0.005, 0.34]"></ngt-cylinder-geometry>
      <ngt-mesh-standard-material color="black"></ngt-mesh-standard-material>
    </ngt-mesh>
  </ngt-group>

  <ngt-group [rotation]="[0, 0, hour]">
    <ngt-mesh [position]="[0, 0.1, 0]">
      <ngt-cylinder-geometry [args]="[0.005, 0.005, 0.2]"></ngt-cylinder-geometry>
      <ngt-mesh-standard-material color="black"></ngt-mesh-standard-material>
    </ngt-mesh>
  </ngt-group>

  <ngt-mesh [rotation]="[90 | radian, 0, 0]">
    <ngt-cylinder-geometry [args]="[0.025, 0.025, 0.005, 16]"></ngt-cylinder-geometry>
    <ngt-mesh-standard-material color="black"></ngt-mesh-standard-material>
  </ngt-mesh>
</ngt-mesh>
