<ngt-color attach="background" color="darkgray"></ngt-color>

<line-room></line-room>

<ngt-directional-light [position]="[10, 10, 10]"></ngt-directional-light>

<ngt-mesh-basic-material #linkmaterial color="#444"></ngt-mesh-basic-material>

<ngt-group [position]="[-3, 0.5, -1]">

  <ng-container *ngFor="let column of columns">

    <sankey-node *ngFor="let item of column"
                 [selectable]="selectable"
                 [position]="item.position" [material]="item.material"
                 [width]="item.width" [height]="item.height"
                 [inputs]="item.inputs" [outputs]="item.outputs"
                 (valuechange)="updatelink($event)">
    </sankey-node>

  </ng-container>

  <link-curve *ngFor="let item of links"
              [startposition]="item.start" [endposition]="item.end"
              [linewidth]="item.size" [linkmaterial]="linkmaterial.instance.value">
  </link-curve>

</ngt-group>

<vr-controller guipointer showcontroller trackedpointer navhome [guis]="selectable.list"></vr-controller>
<vr-controller [index]="1" guipointer showcontroller trackedpointer navhome [guis]="selectable.list"></vr-controller>

<ngt-soba-orbit-controls [enableRotate]="true"></ngt-soba-orbit-controls>
