<ngt-group (animateReady)="animateGroup($event.state)">
    <!--<ngt-line (ready)="lineready(line.instance.value)" >
      <ngt-buffer-geometry>
        <ngt-buffer-attribute attach="position" [args]="[position, 3]"></ngt-buffer-attribute>
        <ngt-buffer-attribute attach="color" [args]="[color, 3]"></ngt-buffer-attribute>
      </ngt-buffer-geometry>
      <ngt-line-basic-material [parameters]="{ vertexColors: true, blending: blending }"></ngt-line-basic-material>
    </ngt-line>-->
</ngt-group>
