<ngt-color attach="background" color="darkgray"></ngt-color>

<line-room></line-room>

<ngt-directional-light [position]="[10, 10, 10]" castShadow></ngt-directional-light>

<ngt-mesh [rotation]="[-1.57, 0, 0]">
  <ngt-plane-geometry [args]="[4.8, 4.8, 2, 2]"></ngt-plane-geometry>
  <ngt-mesh-standard-material color="cornflowerblue" transparent opacity="0.25"></ngt-mesh-standard-material>
</ngt-mesh>

<!--<ngt-mesh #marker [position]="[0, 0.01, 0]" [rotation]="[-1.57, 0, 0]">
  <ngt-circle-geometry [args]="[0.25, 32]"></ngt-circle-geometry>
  <ngt-mesh-standard-material color="cornflowerblue"></ngt-mesh-standard-material>
</ngt-mesh>-->

<vr-controller touchmove navhome></vr-controller>
<vr-controller [index]="1" touchmove navhome></vr-controller>
