
<ngt-line-segments [position]="position" (beforeRender)="tick()">
  <box-line-geometry [args]="[boxsize,boxsize,boxsize]"></box-line-geometry>
  <ngt-mesh-standard-material></ngt-mesh-standard-material>

  <ngt-points #points (ready)="pointCloud=points.instance.value">
    <ngt-buffer-geometry (ready)="particlesready($event)"></ngt-buffer-geometry>
    <ngt-points-material color="white" size="3" [blending]="blending" transparent sizeAttenuation="false"></ngt-points-material>
  </ngt-points>

  <ngt-line-segments #lines (ready)="linesMesh=lines.instance.value">
    <ngt-buffer-geometry (ready)="linesready($event)"></ngt-buffer-geometry>
    <ngt-line-basic-material vertexColors="true" [blending]="blending" transparent></ngt-line-basic-material>
  </ngt-line-segments>

</ngt-line-segments>
