<ngt-color attach="background" color="darkgray"></ngt-color>

<line-room></line-room>

<ngt-directional-light [position]="[10, 10, 10]" castShadow></ngt-directional-light>

<ngt-mesh *ngFor="let item of shapes" (ready)="list.push($event)"
          [position]="item.position" [rotation]="item.rotation" [scale]="item.scale" castShadow>
  <ngt-mesh-standard-material [color]="item.color" roughness="0.7" metalness="0.0"></ngt-mesh-standard-material>

  <ngt-box-geometry *ngIf="item.shapename=='box'" [args]="[0.2, 0.2, 0.2]"></ngt-box-geometry>
  <ngt-cone-geometry *ngIf="item.shapename=='cone'" [args]="[0.2, 0.2, 64]"></ngt-cone-geometry>
  <ngt-cylinder-geometry *ngIf="item.shapename=='cylinder'" [args]="[ 0.2, 0.2, 0.2, 64]"></ngt-cylinder-geometry>
  <ngt-icosahedron-geometry *ngIf="item.shapename=='icosahedron'" [args]="[ 0.2, 8]"></ngt-icosahedron-geometry>
  <ngt-torus-geometry *ngIf="item.shapename=='torus'" [args]="[ 0.2, 0.04, 64, 32]"></ngt-torus-geometry>
</ngt-mesh>

<vr-controller drag highlight showcontroller trackedpointer navhome [tohighlight]="list" [todrag]="list"></vr-controller>
<vr-controller [index]="1" drag highlight showcontroller trackedpointer navhome [tohighlight]="list" [todrag]="list"></vr-controller>

<ngt-soba-orbit-controls></ngt-soba-orbit-controls>
