<ngt-color attach="background" color="darkgray"></ngt-color>

<line-room></line-room>

<ngt-directional-light [position]="[10, 10, 10]" castShadow></ngt-directional-light>


<vr-controller guipointer showcontroller trackedpointer navhome [guis]="selectable.list"></vr-controller>
<vr-controller [index]="1" guipointer showcontroller trackedpointer navhome [guis]="selectable.list"></vr-controller>

<ngt-group [rotation]="[0, 70 | radian, 0]" [position]="[-0.5, 0, 0]">

  <ng3-gui *ngFor="let item of leftwall"
           [position]="item.position" [scale]="0.8"
           [gui]="item.gui" [selectable]="selectable"
           [showclose]="false" [resizable]="false" [expanded]="true">
  </ng3-gui>
</ngt-group>

<ngt-group [rotation]="[0, 10 | radian, 0]" [position]="[-0.5, 0, 0]">

  <ng3-gui *ngFor="let item of frontwall"
           [position]="item.position" [scale]="0.8"
           [gui]="item.gui" [selectable]="selectable"
           [showclose]="false" [resizable]="false" [expanded]="false">
  </ng3-gui>
</ngt-group>

<ngt-group [rotation]="[0, -70 | radian, 0]" [position]="[0.5, 0.5, 0]">

  <ng3-gui *ngFor="let item of rightwall"
           [position]="item.position" [scale]="0.8"
           [gui]="item.gui" [selectable]="selectable"
           [showclose]="false" [resizable]="false" [expanded]="true">
  </ng3-gui>
</ngt-group>

<ngt-group [rotation]="[0, -10 | radian, 0]" [position]="[0.5, 0, 0]">

  <ng3-gui *ngFor="let item of backwall"
           [position]="item.position" [scale]="0.8"
           [gui]="item.gui" [selectable]="selectable"
           [showclose]="false" [resizable]="false" [expanded]="false">
  </ng3-gui>
</ngt-group>


<ngt-soba-orbit-controls></ngt-soba-orbit-controls>

