<ngt-color attach="background" color="darkgray"></ngt-color>

<!--<ngt-mesh>
  <ngt-cylinder-geometry [args]="[1, 1, 0.1, 32]"></ngt-cylinder-geometry>
</ngt-mesh>-->

<ngt-directional-light [position]="[10, 10, 10]"></ngt-directional-light>

<ngt-mesh-basic-material #curvematerial color="black"></ngt-mesh-basic-material>
<ngt-mesh-basic-material #linematerial color="green"></ngt-mesh-basic-material>
<ngt-mesh-basic-material #graymaterial color="#555"></ngt-mesh-basic-material>

<flat-ui-drag-plane [size]="2" [position]="[0, yoffset, -1]" [selectable]="selectable" [showgrid]="params.snap"
                    (change)="hit($event)" (click)="closemenus()" (dragend)="enddrag()" [rotation]="params.tilt ? [-90 | radian, 0, 0] : [0, 0, 0]">

  <ng-template let-parent="parent">
    <ngt-group [appendTo]="parent">

      <path-point *ngFor="let item of points" [point]="item" [selectable]="selectable" [visible]="params.showpoints"
                  (dragging)="startdrag(item)" (click)="changelast(item)" [size]="0.02">
      </path-point>

      <ngt-line *ngFor="let item of curves" [geometry]="item"
                [material]="curvematerial.instance.value">
      </ngt-line>

      <ngt-line *ngFor="let item of controllines" [geometry]="item" [visible]="params.showpoints"
                [material]="linematerial.instance.value">
      </ngt-line>

      <flat-ui-material-button *ngIf="showmore" [scale]="scale"
                               [text]="'more_horiz'" [position]="moreposition" [selectable]="selectable"
                               (pressed)="morepressed()">
      </flat-ui-material-button>

      <flat-ui-menu-mini *ngIf="showmenu"  [scale]="scale" 
                    [position]="menuposition" [menuitems]="menuitems" [selectable]="selectable">
      </flat-ui-menu-mini>

      <flat-ui-menu-mini *ngIf="showactions" [scale]="scale"
                    [position]="actionposition" [menuitems]="actionmenu" [selectable]="selectable">
      </flat-ui-menu-mini>

      <ng3-gui [position]="[0, -1, guiz]" [gui]="gui" [sixdof]="false" [scalable]="false" [expanded]="expanded" [selectable]="selectable" [scale]="scale"></ng3-gui>

      <ngt-mesh [geometry]="shapegeometry" [material]="graymaterial.instance.value" [position]="[0, 0, shapez]"></ngt-mesh>
      <ngt-mesh [geometry]="extrudegeometry" [position]="[-0.5, 0, 0.5]"></ngt-mesh>
    </ngt-group>
  </ng-template>

</flat-ui-drag-plane>

<!--<path-command-list [position]="[0, 1, -0.9]" [selectable]="selectable" [commands]="commands"></path-command-list>-->

<vr-controller guipointer showcontroller trackedpointer navhome [guis]="selectable.list"></vr-controller>
<vr-controller [index]="1" guipointer showcontroller trackedpointer navhome [guis]="selectable.list"></vr-controller>

<ngt-soba-orbit-controls vrorbit [enableRotate]="false"></ngt-soba-orbit-controls>
