<ngt-color attach="background" color="gray"></ngt-color>

<ngt-grid-helper></ngt-grid-helper>

<ngt-point-light intensity="0.75" [position]="[0, 1, 0]"></ngt-point-light>

<ngt-group #room>
  <ngt-group *ngFor="let item of panels" [rotation]="[0, item.rotation | radian, 0]">
    <portal [asset]="item.asset" [text]="item.text" [position]="[0, 1, -2.5]"></portal>
  </ngt-group>
</ngt-group>

<vr-controller navigate showcontroller trackedpointer [room]="room.instance.value"></vr-controller>
<vr-controller [index]="1" navigate showcontroller trackedpointer [room]="room.instance.value"></vr-controller>

<ngt-soba-orbit-controls></ngt-soba-orbit-controls>
