<ngt-color attach="background" color="gray"></ngt-color>

<ngt-grid-helper></ngt-grid-helper>

<ngt-point-light intensity="0.75" [position]="[0, 1, 0]"></ngt-point-light>

<ngt-group >
  <ngt-group *ngFor="let item of panels" [rotation]="[0, item.rotation | radian, 0]">
    <portal [asset]="item.asset" [text]="item.text" [position]="[0, 1, -3]" [selectable]="selectable" (portalSelected)="selected($event)"></portal>
  </ngt-group>
</ngt-group>

<vr-controller showcontroller trackedpointer
               select [selectable]="selectable" (selected)="selected($event)" 
               (selectHighlight)="highlight($event)" (selectUnhighlight)="unhighlight($event)">
</vr-controller>

<vr-controller [index]="1" showcontroller trackedpointer
               select [selectable]="selectable" (selected)="selected($event)" 
               (selectHighlight)="highlight($event)" (selectUnhighlight)="unhighlight($event)">
</vr-controller>

<ngt-soba-orbit-controls></ngt-soba-orbit-controls>
