<flat-ui-drag-panel [title]="title" [scalable]="false" [resizable]="true" [selectable]="selectable"
                    [width]="width" [height]="height" (heightchange)="height=$event" (widthchange)="width=$event"
                    [name]="name" [visible]="visible" [position]="position" [rotation]="rotation" [scale]="scale"
                    (ready)="panelready($event)">
  <ng-template let-parent="parent">
    <ngt-group [appendTo]="parent" [position]="[0, height/2, 0.001]">
      <ngt-group *ngIf="inputexec" [position]="[-width/2, -0.05, 0.001]">
        <flat-ui-material-icon [text]="'label'" [rotation]="[0, 0, 180 | radian]" [position]="[0, 0, 0.001]"></flat-ui-material-icon>
        <flat-ui-label [text]="'input'" [width]="0" [position]="[0.06, 0, 0.001]"></flat-ui-label>
      </ngt-group>

      <ngt-group *ngIf="outputexec" [position]="[width/2, -0.05, 0.001]">
        <flat-ui-material-icon [text]="'label'" [position]="[0, 0, 0.001]"></flat-ui-material-icon>
        <flat-ui-label [text]="'output'" [width]="0" [alignx]="'right'" [position]="[-0.06, 0, 0.001]"></flat-ui-label>
      </ngt-group>

      <ngt-group vertical-layout [position]="[-width/2, inputexec ? -0.1 : 0, 0.001]">

        <ngt-group *ngFor="let item of internalinputs; index as index">
          <flat-ui-material-icon [text]="item.type.icon" [labelmaterial]="item.type.material" [position]="[0, 0, 0.001]" (ready)="item.object=$event"></flat-ui-material-icon>
          <flat-ui-label [text]="item.name" [width]="0" [position]="[0.06, 0, 0.001]"></flat-ui-label>
        </ngt-group>

        <flat-ui-basic-image *ngIf="preview" [position]="[0.06+previewwidth/2, 0, 0.001]" [width]="previewwidth" [height]="previewheight"></flat-ui-basic-image>
      </ngt-group>

      <ngt-group vertical-layout [position]="[width/2, outputexec ? -0.1 : 0, 0.001]">
        <ngt-group *ngFor="let item of internaloutputs; index as index">
          <flat-ui-material-icon [text]="item.type.icon" [labelmaterial]="item.type.material" [position]="[0, 0, 0.001]"  (ready)="item.object=$event"></flat-ui-material-icon>
          <flat-ui-label [text]="item.name" [width]="0" [alignx]="'right'" [position]="[-0.06, 0, 0.001]"></flat-ui-label>
        </ngt-group>
      </ngt-group>

    </ngt-group>
  </ng-template>
</flat-ui-drag-panel>
