<ngt-color attach="background" color="darkgray"></ngt-color>

<line-room></line-room>

<ngt-directional-light [position]="[10, 10, 10]"></ngt-directional-light>

<block-console [height]="blockheight" [width]="blockwidth" [depth]="blockdepth" [shelf]="blockshelf" [screenheight]="blockscreenheight"
               [position]="[0, 0, -1]" [rotation]="[0, -90 | radian, 0]" [material]="blockmaterial"
               (screen)="updatescreen($event)">
</block-console>

<ngt-mesh [position]="[0, blockscreenheight+0.001, -1]" [geometry]="blockscreen">
  <ngt-mesh-basic-material color="black"></ngt-mesh-basic-material>
</ngt-mesh>
<ngt-group [position]="[0, blockscreenheight+0.001, -1]" [rotation]="[-screenangle, 0, 0]">
  <ng3-gui-panel [scale]="0.4" [position]="[0, blockscreenheight*0.6, 0]" [gui]="gui" [selectable]="selectable"></ng3-gui-panel>
</ngt-group>

<vr-controller guipointer showcontroller trackedpointer navhome [guis]="selectable.list"></vr-controller>
<vr-controller [index]="1" guipointer showcontroller trackedpointer navhome [guis]="selectable.list"></vr-controller>


<ngt-soba-orbit-controls vrorbit></ngt-soba-orbit-controls>
