<ngt-color attach="background" color="darkgray"></ngt-color>

<line-room></line-room>

<ngt-directional-light [position]="[10, 10, 10]"></ngt-directional-light>

<ngt-group [position]="[0, 1.5, -1]" [scale]="scale" (beforeRender)="tick($event.object)">
  <network-diagram [graph]="graph"
                   [origin]="[0, 1.5, -1]"
                   [list]="list"
                   (stable)="stable=$event">
  </network-diagram>
</ngt-group>

<!-- limitation in ngraph only allows opening one diagram at a time -->
<ngt-group *ngIf="stable" [position]="[0, 1.5, 1]" [scale]="scale">
  <network-diagram [graph]="graph"
                   [origin]="[0, 1.5, 1]"
                   [list]="list">
  </network-diagram>
</ngt-group>


<vr-controller showcontroller trackedpointer navhome
               select [selectable]="list"
               (selectHighlight)="highlight($event.object)" (selectUnhighlight)="unhighlight($event.object)"></vr-controller>

<vr-controller [index]="1"
               showcontroller trackedpointer navhome
               select [selectable]="list"
               (selectHighlight)="highlight($event.object)" (selectUnhighlight)="unhighlight($event.object)"></vr-controller>

<ngt-soba-orbit-controls [target]="[0, 1.5, 0]"></ngt-soba-orbit-controls>
